@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /* background-image: url("https://wallpapercave.com/wp/wp12100669.jpg"); */
  /* background-image: url("https://wallpapercave.com/wp/wp12987472.jpg"); */
  /* background-image: url("https://wallpapercave.com/uwp/uwp4216119.jpeg"); */
  background-image: url("https://wallpapercave.com/uwp/uwp4216119.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 1030px) {
  body {
    padding: 10px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
